.mainWrapper {
    margin-left: 260px;
    padding-top: 70px;
    min-height: 100vh;
    transition: margin-left 0.3s ease;
}

@media (max-width: 768px) {
    .mainWrapper {
        margin-left: 0;
    }
}